@model IEnumerable<Core.Entities.Policies>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";



}



<div style="margin:25px; padding:120px;text-align:center;align-content:center;font-family:Cairo">

    @*<h1 style="font-family:Cairo">الأقـــســام</h1>*@

    <div class="container">

        <hr>


        <div class="row">

            <div class="col">




                <div class="card mt-5">

                    <div class="card-header">


                        <div class="col">

                            <h4 style="text-align: center; align-content: center;font-family:Cairo">
                                خـدمة الـتـوصـيـل
                            </h4>
                        </div>


                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-lg list-group-flush list my--6">
                            @foreach (var item in Model)
                            {
                                <li class="list-group-item px-0">
                                    <div class="row align-items-center">

                                        <hr>
                                        <div class="col ml--6" style="text-align: center; align-content: center">

                                            <p class="card-text small text-muted mb-1">
                                                التوصـيل  :   @item.HD
                                            </p>

                                        </div>

                                        <div class="col ml--6" style="text-align: center; align-content: center">

                                            <form asp-action="Edit" asp-route-id="@item.ID" method="get">
                                                <button type="submit" class="btn btn-sm btn-info d-none d-md-inline-block">
                                                    تـعديـل
                                                </button>
                                            </form>

                                        </div>




                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

@*<h1>Index</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.HD)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.HD)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>*@
