@model Core.Entities.Sales_H

    <div style="margin:160px; padding:120px;">
        <h3>Are you sure you want to delete this?</h3>
        <div>
            <h4>Sales_H</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Amount)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Amount)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.DateTime)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.DateTime)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.HD)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.HD)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Done)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Done)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Registration)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Registration.User_No)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Sales_Invoices_B)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Sales_Invoices_B.keys)
                </dd>
            </dl>

            <form asp-action="Done">
                <input type="hidden" asp-for="Order_No" />
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                <a asp-action="Index">Back to List</a>
            </form>
        </div>

    </div>
       