@model Core.Entities.Registration

@{
    ViewData["Title"] = "Details";
}
    <div style="margin:160px; padding:120px;font-family:Cairo">
        <h1 style="font-family:Cairo">تـفـاصـيـل الـعـملاء</h1>

        <div>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayFor(model => model.UserName)
                </dt>
                <dd class="col-sm-10">
                : أسـم الـعـمـيل
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayFor(model => model.Pwd)
                </dt>
                <dd class="col-sm-10">
                : كـلـمة الـسـر
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayFor(model => model.Phone)
                </dt>
                <dd class="col-sm-10">
                :   رقـم الـمـوبـيـل
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayFor(model => model.Address)
                </dt>
                <dd class="col-sm-10">
                :  الـعـنـوان
                </dd>
                <dt class="col-sm-2">
                   @Html.DisplayFor(model => model.Date)
                </dt>
                <dd class="col-sm-10">
                :  الـتــاريــخ
                </dd>
            </dl>
        </div>
        <div>
            <a asp-action="Edit" asp-route-id="@Model.User_No"class="btn btn-dark">تـعـديل</a> |
            <a asp-action="Index"class="btn btn-outline-dark">الـرجـوع للـقـائـمة الـسـابـقة</a>
        </div>

    </div>
       