@model IEnumerable<Core.Entities.Category>

@{
    ViewData["Title"] = "Index";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="margin:25px; padding:120px;text-align:center;align-content:center;font-family:Cairo">

    @*<h1 style="font-family:Cairo">الأقـــســام</h1>*@
    <p style="text-align:center;margin-top:50px"> <a asp-action="Create" class="btn btn-primary">قــسـم جـديـد</a></p

    <div class="container">

        <hr>


        <div class="row">

            <div class="col">



                <div class="card mt-5">

                    <div class="card-header">


                        <div class="col">

                            <h4 style="text-align: center; align-content: center;font-family:Cairo">
                                بــحــث بــالأقــســام
                            </h4>
                        </div>


                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-lg list-group-flush list my--6">
                            @foreach (var item in Model)
                            {
                                <li class="list-group-item px-0">
                                    <div class="row align-items-center">
                                        <div class="col-auto">

                                            @*<img src="@item.ImageUrl" alt="" class="avatar avatar-lg" style="width:100px; height:100px;" loading="lazy">*@
                                            <img src="~/img/cat/@item.ImageUrl" alt="" style="width:100px; height:100px;" loading="lazy">

                                        </div>
                                        <hr>
                                        <div class="col ml--6">

                                            <p class="card-text small text-muted mb-1">
                                                الـقـسـم :   @item.Cat
                                            </p>

                                        </div>

                                        <div class="col-auto">
                                            <form asp-action="Edit" asp-route-id="@item.Cat_No" method="get">
                                                <button type="submit" class="btn btn-sm btn-info d-none d-md-inline-block">
                                                    تـعديـل
                                                </button>
                                            </form>
                                        </div>
                                        <div class="col-auto">
                                            <form asp-action="Details" asp-route-id="@item.Cat_No" method="get">
                                                <button type="submit" class="btn btn-sm btn-warning d-none d-md-inline-block">
                                                    تـفـاصـيل
                                                </button>
                                            </form>
                                        </div>
                                        <div class="col-auto">
                                            <form asp-action="Delete" asp-route-id="@item.Cat_No" method="get">
                                                <button type="submit" class="btn btn-sm btn-danger d-none d-md-inline-block">
                                                    حـذف
                                                </button>
                                            </form>
                                        </div>

                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
